#logo_CO2,#logo_humidite,#logo_temperature:hover{
  cursor:pointer;
}
#taux{
  /*position: relative;*/
  height: 650px;
}
#logo{
  width: 25%;
  left: 7%;
  position: relative;
}
#graph{
  position: relative;
  left: 40%;
  top: -650px;
}
#logo_temperature{
  /*padding-left: 8%;*/
}
.connexion,#sub_recup{
  left:20%;
  right: auto;
  position: relative;
}
#modifier_contact{
  background-color: lightgreen;
  width: 80%;
  height: 30%;
}
#modifier_mes_infos, #mes_infos{
  left:20%;
  right: auto;
  width: 40%;
  position: relative;
}
.form-control{
  max-width: 40%;
  min-width: 185px;
}
#login, .form-group{
  text-align: center;
}
#sub_login, #sub_inscription{
  position: relative;
  left:30%;
}
#logo_horizontaux{
  left: 40%;
  top: -165px;
  position: relative;
}
#logo_four,#logo_tv{
  display: inline-block;
}
#utilisateurs{
  width: 80%;
  left: 10%;
  position: relative;
  top:10px;
}
