#logo_CO2,#logo_humidite,#logo_temperature:hover{
  cursor:pointer;
}
#taux{
  /*position: relative;*/
  height: 650px;
}
#logo{
  width: 25%;
  left: 7%;
  position: relative;
}
#graph{
  position: relative;
  left: 35%;
  top: -650px;
  width: 55%;
  background-color: bisque;
  border-radius: 20px;
  border-color: burlywood;
  border-width: 12px;
}
#logo_temperature{
  /*padding-left: 8%;*/
}
.connexion,#sub_recup{
  left:20%;
  right: auto;
  position: relative;
}
#modifier_contact{
  height: 30%;
}
.corps_mon_compte{
  position: relative;
  left:10%;
  width: 80%;
  padding-left: 3%;
  padding-bottom: 3%;
}
.contact{
  position: relative;
  left:10%;
  width: 80%;
}
.btn_supression{
  position: relative;
  right:0%;
}
#modifier_mes_infos, #mes_infos{
  left:20%;
  right: auto;
  width: 40%;
  position: relative;
}
#nouveau_contact{
  left:40%;
  position: relative;
}
#titre_modif_superviseurs{
  margin-left: 2%;
  margin-right: 2%;
}
.form-control{
  max-width: 40%;
  min-width: 185px;
}
#login, .form-group{
  text-align: center;
}
#sub_login, #sub_inscription{
  position: relative;
  left:30%;
}
#logo_horizontaux{
  left: 60%;
  top: 40px;
  position: relative;
}
#logo_four,#logo_tv{
  display: inline-block;
}
#utilisateurs{
  width: 50%;
  left: 7%;
  position: relative;
  top: -400px;
}
#canvas{
  position: relative;
  /*background-color: lightblue;*/
  width: 61%;
  height: 400px;
  left: -5%;
}
#titre_vide {
  position: relative;
  font-size: 20px;
  left: 35%;
  top: 40%;
}
#div_nbr_points{
  position: relative;
top: 130px;
}
@media all and (max-width: 640px) {
  #sub_login, #sub_inscription{
    position: relative;
    left:25%;
  }
  #nouveau_contact{
    left:24%;
    position: relative;
    margin-bottom: 3%;
  }
  #graph {
      position: relative;
      left: 15%;
      top: 10px;
      width: 250px;
      height: 250px;
      background-color: cadetblue;
    border-radius: 20px;
    border-color: burlywood;
    border-width: 12px;
  }
  #utilisateurs {
      width: 80%;
    top: -10px;
      left: 10%;
      position: relative;
  }
  #taux {
    position: relative;
    width: 850px;
    height: 650px;
  }
  #logo_horizontaux {
    left: 5%;
    top: 380px;
    position: relative;
  }
  #titre_vide {
    position: relative;
    padding-left: 25%;
    padding-top: 20%;
    font-size: 20px;
  }
}
